# ignore plugin links
vim/bundle/html5.vim/
vim/bundle/vim-flake8/
vim/bundle/vim-sml-coursera/
vim/bundle/flake8-vim/
vim/bundle/vim-go/
vim/.netrwhist
vim/bundle/YouCompleteMe/
vim/bundle/fzf.vim/
vim/bundle/fzf/
